:root {
  --lightblue: #efedfc;
  --lightyellow: #fff8eb;
  --lightgreen: #e6f6f0;
  --mblue: #5e48db;
  --green: #04ad68;
  --yellow: #f8ac12;
  --darkblue: #020813;
  --cyan: #2dc3f5;
  --bs-orange: #ffe6c7;
  --black: #3f3f3f;
  --gray: #454545;
  --dark-orange: #ff6000;
}

body {
  margin: 0;
  overflow-x: hidden;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "League Spartan", sans-serif !important;
  overflow-y: scroll;
}

.nav {
  position: relative;
  height: 10vh;
  top: 0;
  width: 100vw;
  /* background-color: var(--yellow); */
  z-index: 10;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.nav img {
  height: 300px;
  transform: translateY(-110px);
  z-index: -1;
}

.hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.hero-container {
  position: relative;
  top: -5vh;
  height: 70vh;
  width: 60vw;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox-1,
.textbox-2,
.textbox-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50vw;
  height: 20vh;
  background-color: aqua;
  border-radius: 20px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.textbox-1 {
  z-index: 5;
  top: 8vh;
  width: 35vw;
  background-color: var(--bs-orange);
  color: var(--dark-orange);
}

.textbox-2 {
  width: 50vw;
  background-color: var(--black);
  color: white;
}

.textbox-3 {
  bottom: 8vh;
  width: 45vw;
  background-color: var(--dark-orange);
  color: var(--lightyellow);
}

.discription {
  height: 20vh;
  width: 25vw;
  /* position: absolute; */
  bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.discription p {
  text-align: center;
  line-height: 20px;
}

.details {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bs-orange);
  min-height: 80vh;
  width: 100vw;
  justify-content: space-around;
}

.details .text {
  /* position: absolute;
  width: 20vw;
  height: 40vh; */
  left: 5vw;
  /* background-color: var(--yellow); */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid black; */
  margin-top: 5vh;
  margin-bottom: auto;
}

.details .text p {
  /* height: 30vh;
  width: 15vw; */
  line-height: 60px;
  font-size: 50px;
  font-weight: bold;
}

.details .text p .mission {
  color: var(--dark-orange);
}

.details .box {
  /* position: absolute; */
  width: 40vw;
  height: 40vh;
  right: 10vw;
  background-color: var(--black);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--dark-orange);
  margin-top: 10vh;
  margin-bottom: auto;
}

.details .box p {
  /* height: 30vh;
  width: 30vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-inline: 2vw;
  padding-block: 3vh;
}

.benifits {
  position: relative;
  min-height: 90vh;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  justify-content: space-around;
}

.benifits .text {
  /* position: absolute; */
  /* width: 20vw; */
  /* height: 40vh; */
  /* margin-left: 5vw; */
  margin-top: 5vh;
  margin-bottom: auto;
  color: white;
  line-height: 60px;
  /* background-color: var(--yellow); */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid black; */
}

.benifits .text p {
  /* height: 30vh; */
  /* width: 15vw; */
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.benifits .text p .students {
  color: var(--dark-orange);
}

.benifits .box {
  /* position: absolute; */
  width: 40vw;
  /* min-height: 55vh; */
  /* margin-right: 10vw; */
  /* margin-top: 20vh; */
  margin-top: 10vh;
  margin-bottom: auto;
  background-color: var(--bs-orange);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid var(--dark-orange);
  padding-inline: 2vw;
  padding-block: 3vh;
}

.benifits .box p {
  /* width: 35vw; */
  display: flex;
  justify-content: center;
  color: var(--darkblue);
  font-size: 15px;
  line-height: 15px;
  margin: 10px;
  font-weight: bold;
}

@media (width < 576px) {
  .benifits {
    flex-direction: column;
  }

  .benifits .text {
    margin-left: 10vw;
    margin-right: auto;
  }

  .benifits .box {
    width: 80vw;
    margin-inline: auto;
    margin-bottom: 10vh;
  }

  .details {
    min-height: 90vh;
    flex-direction: column;
  }

  .details .text {
    margin-left: 10vw;
    margin-right: auto;
  }

  .details .box {
    width: 80vw;
    margin-inline: auto;
    margin-bottom: 10vh;
  }

  .textbox-1,
  .textbox-2,
  .textbox-3 {
    font-size: 30px;
    height: 16vh;
  }

  .hero-container {
    width: 100vw;
  }

  .textbox-1 {
    width: 75vw;
    top: 13vh;
  }

  .textbox-2 {
    width: 90vw;
  }

  .textbox-3 {
    width: 75vw;
    bottom: 13vh;
  }

  .discription {
    transform: translateY(-80px);
    width: 80vw;
  }
}

.footer-dark {
  padding: 50px 0;
  color: white;
  background-color: white;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  color: var(--dark-orange);
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: black;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  color: #000;
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: var(--dark-orange);
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  color: #000;
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* html { */
/*   cursor: none; */
/*   background: #f1fffa; */
/* } */
.circle-out {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: var(--dark-orange);
  opacity: 0.6;
  position: relative;
  padding: 5px;
  animation: grow 0.8s infinite;
  z-index: 100;
  pointer-events: none;
}
/* .circle-in { */
/*   border-radius: 50%; */
/*   background: #d81159; */
/*   height: 40px; */
/*   width: 40px; */
/*   margin: 0 auto; */
/* } */
/* @keyframes grow { */
/*   0%, */
/*   100% { */
/*     border: 2px solid #d81159; */
/*     background: rgba(159, 255, 245, 0.2); */
/*   } */
/*   50% { */
/*     border: 8px solid #d81159; */
/*     background: rgba(159, 255, 245, 1); */
/*   } */
/* } */
